<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.ahzx.chazuo.mapper.BankCardMapper">

    <insert id="insert" parameterType="site.ahzx.chazuo.domain.PO.BankCardPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO bank_card (
            user_id, card_number, bank_name, card_type, card_holder, card_phone,
            id_card, province, city, status, created_time, updated_time
        )
        VALUES (
                   #{userId}, #{cardNumber}, #{bankName}, #{cardType}, #{cardHolder}, #{cardPhone},
                   #{idCard}, #{province}, #{city}, #{status}, #{createdTime}, #{updatedTime}
               )
    </insert>

    <update id="update" parameterType="site.ahzx.chazuo.domain.PO.BankCardPO">
        UPDATE bank_card
        SET
            user_id = #{userId},
            card_number = #{cardNumber},
            bank_name = #{bankName},
            card_type = #{cardType},
            card_holder = #{cardHolder},
            card_phone = #{cardPhone},
            id_card = #{idCard},
            province = #{province},
            city = #{city},
            status = #{status},
            updated_time = #{updatedTime}
        WHERE id = #{id}
    </update>

    <select id="selectById" parameterType="java.lang.Long" resultType="site.ahzx.chazuo.domain.PO.BankCardPO">
        SELECT * FROM bank_card WHERE id = #{id}
    </select>

    <select id="selectByUserId" parameterType="java.lang.String" resultType="site.ahzx.chazuo.domain.PO.BankCardPO">
        SELECT * FROM bank_card WHERE user_id = #{userId}
    </select>

    <select id="selectByCardNumber" parameterType="java.lang.String" resultType="site.ahzx.chazuo.domain.PO.BankCardPO">
        SELECT * FROM bank_card WHERE card_number = #{cardNumber}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM bank_card WHERE id = #{id}
    </delete>

    <update id="updateStatus">
        UPDATE bank_card
        SET
            status = #{status},
            updated_time = #{updatedTime}
        WHERE id = #{id}
    </update>

</mapper>
