<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.ahzx.chazuo.mapper.PricingStandardMapper">

    <insert id="insert" parameterType="site.ahzx.chazuo.domain.PO.PricingStandardPO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pricing_standard (
            name,
            type,
            is_active,
            created_by
        ) VALUES (
            #{name},
            #{type, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            #{isActive},
            #{createdBy}
        )
    </insert>

    <update id="updateById" parameterType="site.ahzx.chazuo.domain.PO.PricingStandardPO">
        UPDATE pricing_standard
        SET 
            name = #{name},
            type = #{type, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            is_active = #{isActive}
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="long">
        DELETE FROM pricing_standard WHERE id = #{id}
    </delete>

    <resultMap id="pricingStandardResultMap" type="site.ahzx.chazuo.domain.PO.PricingStandardPO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="type" column="type" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
        <result property="isActive" column="is_active"/>
        <result property="createdBy" column="created_by"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="selectById" parameterType="long" resultMap="pricingStandardResultMap">
        SELECT * FROM pricing_standard WHERE id = #{id}
    </select>

    <select id="selectList" resultMap="pricingStandardResultMap">
        SELECT *
        FROM pricing_standard ps
        JOIN user u ON ps.created_by = u.id

        WHERE u.openid = #{openid}
    </select>

    <insert id="insertPricingByEnergy" parameterType="site.ahzx.chazuo.domain.PO.PricingByEnergyPO">
        INSERT INTO pricing_by_energy (
            standard_id,
            has_service_fee,
            service_fee_per_unit,
            energy_fee_per_unit,
            created_by
        ) VALUES (
            #{standardId},
            #{hasServiceFee},
            #{serviceFeePerUnit},
            #{energyFeePerUnit},
            #{createdBy}
        )
    </insert>

    <insert id="insertPricingByTime" parameterType="site.ahzx.chazuo.domain.PO.PricingByTimePO">
        INSERT INTO pricing_by_time (
            standard_id,
            time_unit,
            time_per_yuan,
            time_unit_per_yuan,
            created_by
        ) VALUES (
            #{standardId},
            #{timeUnit, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            #{timePerYuan},
            #{timeUnitPerYuan, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            #{createdBy}
        )
    </insert>

    <insert id="insertPricingByAmount" parameterType="site.ahzx.chazuo.domain.PO.PricingByAmountPO">
        INSERT INTO pricing_by_amount (
            standard_id,
            time_unit,
            amount_per_unit,
            created_by
        ) VALUES (
            #{standardId},
            #{timeUnit, typeHandler=org.apache.ibatis.type.EnumTypeHandler},
            #{amountPerUnit},
            #{createdBy}
        )
    </insert>
</mapper>
